.App {
  text-align: center;
}
.subscribers-input{
  display: inline-block;
  width: auto;
  border: 2px solid black;
  padding: 2px;
}

.subscribers-input input{
  width: 80%;
}
input{
  margin: 5px;
}